.hero {
  display: flex;
  position: relative;

  background: linear-gradient(
    90deg,
    rgba(37, 42, 52, 1) 0%,
    rgba(37, 42, 52, 1) 35%,
    rgba(37, 42, 52, 0.7203256302521008) 100%
  );

  width: calc(100vw - 6.8rem);
  min-height: 80vh;
  margin-left: 3.4rem;
  padding: 5.2rem;
  box-sizing: border-box;
  border-radius: 1.2rem;

  .content {
    width: 40vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

    h1,
    span,
    p,
    button {
      margin: 0;
    }

    span {
      color: #afafaf;
      font-weight: 300;
    }

    h1 {
      color: #ffffff;
      font-size: 3rem;
      font-weight: 700;
      margin-top: 0.5rem;
    }

    p {
      color: #717171;
      font-family: "Noto Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      margin-top: 1.2rem;
      margin-bottom: 1.5rem;
    }

    button {
      position: relative;
      cursor: pointer;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1rem 1.5rem 1rem 1.5rem;
      border-radius: 0.7rem;
      background-color: #604cc3;
      border: none;
      outline: none;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        border: 2px solid #ffffff;
        border-radius: inherit;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        /* Transition */
        transition-property: transform, opacity;
        transition-duration: 0.3s, 0.2s;
        transition-timing-function: ease-out;

        opacity: 0;
        transform: scaleX(1.1) scaleY(1.6);
      }

      &:hover::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
      }
    }
  }

  .image {
    position: absolute;
    top: 5.2rem;
    right: 0;
    height: 100%;
    margin-right: 5.2rem;
    transform: translateY(-5.2rem);

    img {
      display: block;
      height: calc(100% - 2rem);
      transform: translateY(2rem);
    }
  }
}
