@import url("home/header.css");
@import url("home/hero.css");
@import url("home/products.css");
@import url("home/product-card.css");
@import url("home/footer.css");

body {
  user-select: none;
  -webkit-user-drag: none;
}

.new-section {
  position: relative;
  background-color: yellow;
  width: calc(100vw - 6.8rem);
  margin: 3.4rem;

  h2 {
    position: absolute;
    margin-top: 0;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #2f3645;
    padding: 0;

    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      height: 100%;
      width: 100%;
      transform: scaleX(1.2);
      background-color: #ffffff;
    }
  }

  hr {
    border: 1px solid #2f3645;
  }
}
